adbutils==0.7.1
airtest==1.1.3
aliyun-mns==1.1.5
apkutils2==1.0.0
appdirs==1.4.4
arrow==0.15.5
asn1crypto==1.3.0
attrs==19.3.0
Automat==0.8.0
bcrypt==3.1.7
blinker==1.4
Brotli==1.0.7
cached-property==1.5.1
cachetools==4.2.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cigam==0.0.3
Click==7.0
colorama==0.4.3
comtypes==1.1.7
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cssutils==2.2.0
decorator==4.4.1
demjson==2.2.4
Deprecated==1.2.7
deprecation==2.0.7
docker==4.2.0
docker-compose==1.25.4
dockerpty==0.4.1
docopt==0.6.2
et-xmlfile==1.0.1
facebook-wda==0.2.1
fake-useragent==0.1.11
Flask==1.1.1
frida==12.8.20
gevent==1.4.0
gitdb==4.0.2
GitPython==3.1.0
greenlet==0.4.15
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hrpc==1.0.8
humanize==0.5.1
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
incremental==17.5.0
itsdangerous==1.1.0
jdcal==1.4.1
jieba==0.42.1
Jinja2==2.11.1
jsonschema==3.2.0
kaitaistruct==0.8
langdetect==1.0.7
ldap3==2.6.1
lightText==0.2.3
lightUtils==0.1.16
llvmlite==0.34.0
lml==0.0.9
logzero==1.5.0
lxml==4.5.0
MarkupSafe==1.1.1
mitmproxy==5.0.1
mss==4.0.3
mysqlclient==1.4.6
ndg-httpsclient==0.5.1
nose==1.3.7
numba==0.51.2
numpy==1.18.1
opencv-contrib-python==3.4.2.17
openpyxl==3.0.6
packaging==20.1
pandas==1.0.0
paramiko==2.7.1
parsel==1.5.2
passlib==1.7.2
phone==0.4.2
Pillow==7.0.0
pocoui==1.0.79
premailer==3.8.0
progress==1.5
Protego==0.1.16
protobuf==3.17.3
publicsuffix2==2.20191221
py==1.8.1
pyaml==20.3.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycryptodome==3.9.7
PyDispatcher==2.0.5
pydivert==2.1.0
pyee==7.0.2
pyelftools==0.26
pyexcel-io==0.5.20
pyexcel-xls==0.5.8
PyExecJS==1.5.1
PyGithub==1.46
PyHamcrest==2.0.0
PyJWT==1.7.1
pymongo==3.10.1
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyperclip==1.7.0
pypiwin32==223
pyppeteer==0.2.2
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.11.0
python-gitlab==2.1.2
pytz==2019.3
pywin32==227
pywinauto==0.6.3
PyYAML==5.3
queuelib==1.5.0
redis==3.4.1
requests==2.22.0
retry==0.9.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
Scrapy==1.8.0
scrapy-redis==0.6.8
scrapyd==1.2.1
scrapyd-client==1.1.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
smmap==3.0.1
sortedcontainers==2.1.0
svn==1.0.1
texttable==1.6.2
thrift==0.13.0
Top==1.0.0
tornado==6.0.3
tqdm==4.48.0
treq==20.4.1
Twisted==19.10.0
uiautomator2==2.5.4
urllib3==1.25.8
urwid==2.0.1
w3lib==1.21.0
wd-crawler-client==6.0.2
websocket-client==0.48.0
websockets==8.1
weditor==0.4.2
Werkzeug==1.0.0
whichcraft==0.6.1
wrapt==1.11.2
wsproto==0.14.1
WTForms==2.3.3
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
yagmail==0.14.247
you-get==0.4.1456
youtube-dl==2020.9.6
zipp==3.1.0
zope.interface==4.7.1
zstandard==0.12.0
